.filter-bar {
  background: white !important;
  box-shadow: 0 3px 5px 0 gray;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 900;
  opacity: 90%;
}

.positiveValue {
  color: var(--graph-income-color);
}

.negativeValue {
  color: var(--graph-expense-color);
}

.spacer {
  flex: 1 1 auto;
}

.filter, .sortOrder {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}

.sortOrder {
  width: 125px;
}

.showAmount {

  width: 50px;
}

.container { /*Global Styling of "Übersicht" Page" */
  position: relative;
  width: 60%;
  margin: 0 auto;
}



.new-transaction, .spinner {
  display: flex;
  justify-content: center;
  margin: 5px 0 -5px 0;
}

.mat-divider { /* Dividing line  between Transaction Dates */
  margin: 10px 0 10px 0;
  position: relative !important;
  display: flex;
  justify-content: center;
  width: 98%;
  border-top-width: 2px;
  border-top-color: var(--divider-color);
}

.emptyMap {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}

.divider-date { /* Transaction Date */
  margin: 0 0 10px 10px;
  display: flex;
  justify-content: center;
}

/* Transaction Card*/
.mat-card {
  margin: 15px 10px 15px 10px;
  box-shadow: 0 0 15px gray;
  background-color: white;
  border-radius: 8px;
}

.mat-card-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "title value";
}

.value{
  justify-self: end;
}

.mat-card-content{
  font-size: 16px;
}

.mat-card-actions {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "categories buttons";
  margin: 0 0 -10px 0;
}

.display-row {
  align-items: center;
}


.categories {
 justify-self: start;
}

.buttons {
  justify-self: end;
  justify-items: end;
}

.transactionButtons, .invoiceButtons {
  display: inline;
  background-color: var(--border-color);
  border-radius: 20px;
  margin: 0 2px 0 2px;
  padding: 5px 5px 8px 5px;
  height: 24px !important;
}

.invoice-upload-button, .edit-button, .delete-button, .invoice-download-button, .invoice-delete-button {
  opacity: 0.5;
  color: var(--button-color);
    /*flex-basis: 5%;*/
}


.invoice-upload-button:hover, .edit-button:hover, .delete-button:hover, .invoice-download-button:hover, .invoice-delete-button:hover {
  opacity: 1;
  color: var(--button-hover-color);
}

/*.category-chip {
  color: var(--button-color);
}*/


.add-button {
  color: var(--button-color)

}
.add-button:hover {
  color: var(--button-hover-color);

}

.link {
  text-decoration: none;
  color: inherit !important;
}




