.filter-bar {
  background-color: var(--button-color);
  box-shadow: 0 2px 6px 0 gray;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.positiveValue {
  color: var(--graph-income-color);
}

.negativeValue {
  color: var(--graph-expense-color);
}

.spacer {
  flex: 1 1 auto;
}

.toggle {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}

.filter {
  font-size: 14px;
  margin: 10px 10px 10px 10px;
}

.container { /*Global Styling of "Übersicht" Page" */
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.new-transaction {
  display: flex;
  justify-content: center;
  margin: 0 0 -5px 0;
}

.mat-divider {
  margin: 10px 10px 5px 10px;
  border-top-width: 2px;
  border-top-color: var(--divider-color);
}

.mat-divider { /* Dividing line  between Transaction Dates */
  margin: 10px 0 10px 0;
  position: relative !important;
  display: flex;
  justify-content: center;
  width: 98%;
  border-top-width: 2px;
  border-top-color: var(--divider-color);
}

.emptyMap {
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}

.divider-date { /* Transaction Date */
  margin: 0 0 10px 10px;
  display: flex;
  justify-content: center;
}

/* Transaction Card*/
.mat-card {
  border: 10px black;
  margin: 15px 10px 15px 10px;
  box-shadow: 0 0 15px gray;
  background-color: white;
  border-radius: 8px;
}
.mat-card:hover {
  background-color: whitesmoke;
}

.mat-card-title {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "title value";
}

.value{
  justify-self: end;
}

.income {
  color: var(--graph-income-color);
}

.expense {
  color: var(--graph-expense-color);
}

.mat-card-content{
  font-size: 16px;
}

.mat-card-actions {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "categories buttons";
}

.display-row {
  align-items: center;
}

.buttons {
  justify-self: end;
}

.delete-button .add-button .edit-button{
  opacity: 0.5;
  color: var(--button-color);
}

.delete-button:hover .add-button:hover .edit-button:hover {
  opacity: 1;
  color: var(--button-hover-color);
}

.outline {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--divider-color);
  background-color: rgba(255, 255, 255, 0.35);
  margin: 15px 0 15px 0;
  padding: 10px 10px 10px 10px;
}




