<div class="filter-bar">
  <mat-toolbar>

    Aktueller Kontostand:&nbsp;
    <span [class.positiveValue]="currentValue >= 0" [class.negativeValue]="currentValue < 0">
     {{currentValue}}€
    </span>
    <span class="spacer"></span>

    <mat-slide-toggle class="toggle" [(ngModel)]="showIncome" (change)="updateTransactions()" color="primary" matTooltip="Einnahmen anzeigen/ausblenden">
      Einnahmen
    </mat-slide-toggle>

    <mat-slide-toggle class="toggle" [(ngModel)]="showExpense" (change)="updateTransactions()" color="primary" matTooltip="Ausgaben anzeigen/ausblenden">
      Ausgaben
    </mat-slide-toggle>

    <mat-form-field class="filter" appearance="standard">
      <mat-select [(value)]="sortOrder">
        <mat-option value="newest">Neuste zuerst</mat-option>
        <mat-option value="oldest">Älteste zuerst</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar>
</div>

<div class="container">
  <div class="add-button new-transaction">
    <button mat-icon-button (click)="addTransaction()" aria-label="Add new Transaction">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

  <div *ngFor="let entry of tempMap | keyvalue">
    <mat-card class="mat-card">
      <div class="divider-date">
        {{entry.key | date:'dd.MM.yyyy'}}
      </div>
      <mat-card-content>
        <div *ngFor="let transaction of entry.value">
          <mat-divider class="mat-divider"></mat-divider>


          <div class="display-row">
            <div (contextmenu)="onRightClick($event, transaction)">
              <div class="mat-card-title">
                {{transaction.title}}
                <span class="value" [class.income]="transaction.value >= 0" [class.expense]="transaction.value < 0">
               {{transaction.value}}€
            </span>
              </div>
              <div class="mat-card-content">
                {{transaction.notice}}
              </div>
              <div class="mat-card-actions">
                <!-- FUTUREPROOFING FOR CATRGORIES! DO NOT REMOVE THE FOLLOWING!-->
                <mat-chip-list class="categories" aria-label="Category">
                  <!--              <mat-chip color="primary" selected>WICHTIGE KATEGORIE
                                  <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip>-->
                </mat-chip-list>
                <div class="buttons">

                  <button class="edit-button" mat-icon-button aria-label="Edit Transaction"
                          (click)="editTransaction(transaction)" matTooltip="Transaktion bearbeiten">

                    <mat-icon>edit</mat-icon>
                  </button>

                  <button class="delete-button" mat-icon-button aria-label="Delete Transaction"
                          (click)="deleteTransaction(transaction.id)" matTooltip="Transaktion löschen">

                    <mat-icon>delete</mat-icon>
                  </button>

                  <button class="invoice-button" mat-icon-button aria-label="Upload Invoice" (click)="fileInput.click()" matTooltip="Rechnung hochladen">
                    <mat-icon>file_upload</mat-icon>
                  </button>

                  <a *ngIf="transaction.invoiceLink" [href]="linkPrefix + transaction.invoiceLink" target="_blank"
                     class="link">
                    <button class="invoice-download-button" mat-icon-button matTooltip="Rechnung herunterladen">
                      <mat-icon>file_download</mat-icon>
                    </button>
                  </a>

                  <input hidden (change)="uploadInvoice($event, transaction)" #fileInput type="file"/>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div style="visibility: hidden; position: fixed;"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-transaction="transaction">
    <button disabled mat-button>Menü</button>
    <button *ngIf="transaction.invoiceLink" mat-menu-item (click)="deleteInvoice(transaction)">Rechnung löschen</button>
  </ng-template>
</mat-menu>
