<div class="container">

  <div class="add-button new-transaction">
    <button mat-icon-button (click)="addTransaction()" aria-label="Add new Transaction">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

  <div *ngFor="let entry of map | keyvalue">
    <mat-divider class="mat-divider"></mat-divider>
    <div class="divider-date">
      {{entry.key | date:'dd.MM.yyyy'}}
    </div>
    <div *ngIf="entry.value">

      <div *ngFor="let transaction of entry.value">

        <div class="display-row">
          <mat-card class="mat-card" (contextmenu)="onRightClick($event, transaction)">
            <mat-card-title>
              {{transaction.title}}

            </mat-card-title>
            <mat-card-subtitle>
              <span [class.income]="transaction.value >= 0" [class.expense]="transaction.value < 0">
              {{transaction.value}}€
              </span>
            </mat-card-subtitle>
            <mat-card-content>
              {{transaction.notice}}
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">


              <mat-chip-list class="category-chip" aria-label="Category">
                <mat-chip color="primary" selected>WICHTIGE KATEGORIE
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
              <button class="edit-button" mat-icon-button aria-label="Edit Transaction" (click)="editTransaction(transaction)">
                <mat-icon>edit</mat-icon>
              </button>

              <button class="delete-button"  mat-icon-button aria-label="Delete Transaction" (click)="deleteTransaction(transaction.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button class="invoice-button" mat-icon-button aria-label="Upload Invoice" (click)="fileInput.click()"
                    matTooltip="Rechnung hochladen">
                <mat-icon>file_upload</mat-icon>
              </button>
              <a *ngIf="transaction.invoiceLink" [href]="linkPrefix + transaction.invoiceLink" target="_blank" class="link">
                <button class="invoice-download-button" mat-icon-button matTooltip="Rechnung herunterladen">
                  <mat-icon>file_download</mat-icon>
                </button>
              </a>
              <input hidden (change)="uploadInvoice($event, transaction)" #fileInput type="file"/>
            </mat-card-actions>
          </mat-card>
          <div class="buttons">
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="!entry.value">
      Nothing to see here!
    </div>



  </div>
</div>

<div style="visibility: hidden; position: fixed;"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-transaction="transaction">
    <button disabled mat-button>Menü</button>
    <button *ngIf="transaction.invoiceLink" mat-menu-item (click)="deleteInvoice(transaction)">Rechnung löschen</button>
  </ng-template>
</mat-menu>
