.header-menu {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    "title welcome buttons";
  align-items: center;
}

.welcome {
  justify-self: center;
  text-decoration: underline;
}

.title {
  justify-self: start;
}

.spacer {
  flex: 1 1 auto;
}

.buttons {
  justify-self: end;
}

.button{
  margin: 0 5px 0 5px;
}

.link{
  text-decoration: none;
  color: inherit !important;
}
