<h2 mat-dialog-title>{{dialogTitle}}</h2>
<mat-dialog-content class="mat-dialog-content" [formGroup]="transactionInput">
  <mat-form-field class="title" appearance="fill">
    <mat-label>Transaktionstitel</mat-label>
    <input matInput #title maxlength="30" [formControl]="titleControl">
    <mat-hint align="end" >{{title.value.length}}/30</mat-hint>
    <mat-error *ngIf="titleControl.errors?.['required']">Bitte einen Transaktionstitel angeben! </mat-error>
  </mat-form-field>

  <mat-form-field class="date" appearance="fill">
    <mat-label>Transaktionsdatum</mat-label>
    <input matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
    <mat-hint>TT.MM.JJJJ</mat-hint>
    <mat-error *ngIf="dateControl.errors?.['required']">Bitte ein Transaktionsdatum angeben! </mat-error>
  </mat-form-field>

  <mat-form-field class="value" appearance="fill">
    <mat-label>Betrag</mat-label>
    <input matInput type="number" class="right-align" placeholder="00.00" pattern='{{valuePattern}}' [formControl]="valueControl">
    <span matSuffix>&nbsp;€</span>
    <mat-hint>Bei Ausgaben ein Minus voranstellen</mat-hint>
    <mat-error *ngIf="valueControl.errors?.['pattern']">Diese Summe ist nicht gültig! </mat-error>
    <mat-error *ngIf="valueControl.errors?.['required']">Bitte eine Transaktionssumme angeben! </mat-error>
  </mat-form-field>

  <mat-form-field class="notice" appearance="fill">
    <mat-label>Notiz</mat-label>
    <textarea matInput #notice maxlength="256" [formControl]="noticeControl"></textarea>
    <mat-hint align="end">{{notice.value.length}} / 256</mat-hint>
    <mat-error *ngIf="noticeControl.errors?.['maxLength']">Diese Transaktionsnotiz ist zu lang! </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Speichern</button>
</mat-dialog-actions>
