<div *ngIf="transactions">

  <div *ngFor="let transaction of transactions">

    <div class="display-row">
      <mat-card class="mat-card">
        <mat-card-title>
          {{transaction.title}} - {{transaction.id}}

        </mat-card-title>
        <mat-card-subtitle>
          {{transaction.value}}€
        </mat-card-subtitle>
        <mat-card-content>
          {{transaction.notice}}
        </mat-card-content>

      </mat-card>
      <div class="buttons">
      <app-edit-transaction [transaction]="transaction"></app-edit-transaction>
      <button class="delete-button"  mat-icon-button aria-label="Delete Transaction" (click)="deleteTransaction(transaction.id)">
        <mat-icon>delete</mat-icon>
      </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!transactions">
  Nothing to see here!
</div>
