<div *ngIf="transactions">

  <div *ngFor="let transaction of transactions">

    <div class="display-row">
      <mat-card class="mat-card">
        <mat-card-title>
          {{transaction.title}} - {{transaction.id}}

        </mat-card-title>
        <mat-card-subtitle>
          {{transaction.value}}€
        </mat-card-subtitle>
        <mat-card-content>
          {{transaction.notice}}
        </mat-card-content>

      </mat-card>
      <app-edit-transaction [transaction]="transaction"></app-edit-transaction>
    </div>
  </div>
</div>


<div *ngIf="!transactions">
  Nothing to see here!
</div>
